<!DOCTYPE html>
<html lang="en" xmlns:th = "https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Person</title>
</head>
<body>
    <p th:text="'Name: '+ ${person.getName()}">name</p>
    <p th:text="'Year of birth: '+ ${person.getYear_of_birth()}">year</p>
    <div th:if="${not #lists.isEmpty(books)}">
        <h3>List of person's books:</h3>
        <div th:each="book :${books}">
            <a th:href = "@{/books/{book_id}(book_id=${book.getBook_id()})}"
               th:text="${book.getTitle()} +' ' +${book.getAuthor()}">
                book
            </a>
        </div>
    </div>
    <p th:if="${#lists.isEmpty(books)}">
        Person has 0 books
    </p>
    <hr>
    <a th:href="@{/people/{id}/edit(id=${person.getPerson_id()})}" th:text="Edit">edit</a>
    <hr>
    <form th:method="DELETE" th:action="@{/people/{person_id}(person_id=${person.getPerson_id()})}" th:object = "${person}">
        <input type="submit" value="delete!">
    </form>
    <hr>
    <a href = "/people">Get back</a>
</body>
</html>