<!DOCTYPE html>
<html lang="en" xmlns:th="https://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book</title>
</head>
<body>
    <p th:text="'Title: ' + ${book.getTitle()}">title</p>
    <p th:text="'Author: ' + ${book.getAuthor()}">author</p>
    <p th:text="'Year: ' + ${book.getYear()}">year</p>
    <p th:text="'Book_id: ' + ${book.getBook_id()}">book_id</p>
    <p th:text="'Person_id: ' + ${book.getPerson_id()}">person</p>
    <div th:if="${person.getPerson_id() != 0}">
        <a        th:href ="@{/people/{person_id} (person_id=${person.getPerson_id()})}"
                  th:text="${person.getName()}">
            person
        </a>
        <form th:method = "PATCH" th:action="@{/books/{book_id}/setOwner(book_id=${book.getBook_id()})}" th:object="${book}">
            <input type="submit" value="Clear owner">
        </form>
    </div>
    <div th:unless="${person.getPerson_id() != 0}">
        <p>This book is free</p>
        <form th:method="PATCH" th:action="@{/books/{book_id}/setOwner(book_id=${book.getBook_id()})}" th:object="${book}">
            <label for="person_id">New owner: </label>
            <select th:object="${book}" th:field="*{person_id}" id = "person_id">
                <option value = 0>No person</option>
                <option th:each="person : ${people}" th:value="${person.getPerson_id()}" th:text="${person.getName()}"></option>
            </select>
            <input type="submit" value="Set owner">
        </form>
    </div>
    <br>
    <a th:href="@{/books/{book_id}/edit(book_id=${book.getBook_id})}" th:text="Edit">edit</a>
    <hr>
    <form th:method="DELETE" th:action="@{/books/{book_id}(book_id=${book.getBook_id()})}" th:object="${book}">
        <input type="submit" value="Delete!">
    </form>
    <hr>
    <a href = "/books">Get back!</a>
</body>
</html>